ul {
    display: block;
    // display: none;
    margin: 10px auto;
    justify-content: center;

    li {
        margin-top: 10px;
    }

    .not-all:hover {
      background-color: $light-gray;
      text-decoration: none;
    }
}


