

<header class="masthead">
    <nav class="language-nav">
        <ul>
            <li><a href="#">CSS</a></li>
            <li><a href="#">HTML</a></li>
            <li><a href="#">Javascript</a></li>
            <li><a href="#">Ruby</a></li>        
        </ul>
    </nav>

    <img class="logo" src="assets/AA_Times_Logo.png" alt="app academy times">

    <ul class="masthead-links">
            <li><time>Tuesday, October 18, 2016</time></li>
            <li><button class="underlined"><i class="far fa-newspaper"></i>Today's Paper</button></li>
            <li><button class="underlined"><i class="fas fa-video"></i>Video</button></li>
            <li ><button class="temp-stock">77°F</button></li>    
            <li ><button class="temp-stock">AAO <strong>+100%</strong></button></li>
    </ul>

</header>


