<ul>

    <li><a class="not-all" href="#">World</a></li>  
    <li><a class="not-all" href="#">San Francisco</a></li>  
    <li><a class="not-all" href="#">New York</a></li>  
    <li><a class="not-all" href="#">Bootcamp Prep</a></li>  
    <li><a class="not-all" href="#">Jumpstart</a></li>  
    <li><a class="not-all" href="#">Online</a></li>
    <li><a class="not-all" href="#">Marketing</a></li>
    <li><a class="not-all" href="#">Sales</a></li>
    <li><a class="not-all" href="#">TalentMatch</a></li>
    <li><a class="not-all" href="#">Alumni</a></li>
    <li><a href="#">All</a></li>

</ul>

<hr>
